@font-face {
    font-family: 'luckiestguy';
    src: url(./fonts/luckiestguy.ttf) format('truetype');
}

canvas {
    display: block;
    background-color: black;
    border-radius: 20px;
    border: 3px solid grey;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.canvascontainer {
    position: relative;
    border-radius: 20px; 
    background-image: url(./img/assets/background.jpeg);
    background-position: 35% 0% ;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.fullscreencanvas {
    height:100dvh;
    width:100dvw;
    border-radius: unset;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pannel {
    position: absolute;
    display: none;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40%;
}

.pannel-wrapper {
    width: 25%;
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 2%;
    height: 100%;  
    
}

.pannel-inlinewrapper {
    display: inherit;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;    
    height: 100%;
    width: 25%;
}

.playBtn {    
    height: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    color: white;  
    border: 3px solid black;  
    background-color: rgba(16, 14, 108, 0.5);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
}

.playBtn:active {
    background-color: rgba(16, 14, 108, 1);;
}

.d {
    align-self: flex-start;
    margin-top: 30%;
}

.space {
    align-self: flex-end;
    margin-bottom: 20%;
}

.right-pannel {
    justify-content: flex-end;
    margin-right: 3%;
    font-size: 0.5em;
}

.left-pannel {
    justify-content: flex-start;
    margin-left: 2%;    
}

body {
    font-family:'luckiestguy', Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    color: white;
    -webkit-text-stroke: 2px black;    
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 2em;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    background-image: url(./img/assets/background.jpeg);
    background-position: 35% 0% ;
    background-size:cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 1.6em;
    letter-spacing: 1.5px;   
}

.d-none {
    display: none !important;
}

.fullscreen-mute-buttons-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    padding-right: 2%;
}

.fullscreen, .smallscreen, .nomute, .mute{
    height: 40%;
    aspect-ratio: 1/1;
    padding: 0.5%;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.smallscreen {
    content: url(/img/assets/minimize.png);
}

.fullscreen {
    content: url(/img/assets/fullscreen.png);
}

.nomute {
    content: url(/img/assets/soundon.png);
}

.mute {
    content: url(/img/assets/soundmute.png);
}

.start-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 25%;
    bottom: 5%;
    left: 0;
    right: 0;    
}

.startButton {
    background-image: url(/img/6.Botones/Start/1.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 32%;
    height: 63%;
    margin-right: 12%; 
    cursor: pointer;  
}

.infoicon {
    height: 25%;
    aspect-ratio: 1/1;
    border: 4px solid white;
    border-radius: 50%;
    margin-left: 3%;
    margin-top: 12%; 
    background-color: rgb(118, 5, 133);
    text-align: center;
    cursor: pointer;
}

.infocontainer {
    position: absolute;
    top: 24%;
    right: 4%;
    left: 3%;
    bottom: 13%;
    background: rgb(118,5,133);
    background: linear-gradient(39deg, rgba(118,5,133,0.64) 21%, rgba(16,14,108,0.7973564425770308) 80%);
    border-radius: 1em;
    border: 4px solid white;
    overflow: hidden;
    color: white;
    flex-direction: column;
    justify-content: space-between;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom {
	-webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.content {
    width: 95%;
    height: 74%;
    margin-top: 2%;
    font-size: 0.7em;
    overflow: auto;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;

    &:hover p{
        opacity: 0.4;
    }

    & p:hover {    
    color: aquamarine;
    opacity: 1;
    zoom: 1.2;
    }

    & p{
        margin: 0.5%;
    } 
}

.infobar {
    height: 22%;
    width: 96%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1%;
    justify-self: flex-end;
}

.infoButton {
   border: 4px solid white;
   border-radius: 2em;
   font-size: 0.7em; 
   padding: 0.5%;
   width: 30%;
   text-align: center;
   cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightpink;
}

.message {
    display: none;
    text-align: center;

    & h4 {
        margin: 3%;
        background: rgb(118,5,133);
        background: linear-gradient(39deg, rgba(118,5,133,0.64) 21%, rgba(16,14,108,0.7973564425770308) 80%);
        border-radius: 1em;
        border: 4px solid white;
    }
}

.retryButton {
    background: url('/img/6.Botones/Try again/Recurso 16.png') no-repeat;
    background-size: contain;
    width: 32%;
    height: 63%;
    cursor: pointer;
}

.retrycontainer {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    height: 25%;
}